*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: bitter;
}
  
.head{ 
	height: 100vh;
	width: 100%;
	background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0.6)),url(../images/b.jpeg);
	background-size: cover;
	background-position: center;
}
.nav{
	width: 100%;
	background-color: black;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 10px;
	padding-top: 20px;
	padding-left: 10%;
	padding-right: 10%;
}
.logo{
	color: white;
	font-size: 30px;
	cursor: pointer;
}
.nav ul li{
	list-style-type: none;
	display: inline-block;
	padding: 10px 20px;
}
.nav ul li a{
	color: white;
	text-decoration: none;
	font-weight: bold;
	font-size: 17px;
}
.nav a:hover{
	color: red;
	transition: .3s;
}
button{
	border: 2px solid red;	
	background: transparent;
	padding: 10px 30px;
	border-radius: 30px;
	font-weight: bold;
	font-size: 18px;
	transition: .4s;
	color: red;
	width: 200px;
	text-align: right;	
}
button:hover{
	cursor: pointer;
	background: white;
	color: black;
}
.header h1{
	padding-top: 250px;
	width: 100%;
	text-align: center;
	color: whitesmoke;
	font-size: 50px;
	padding-right: 55%;
}
 

.reference{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 90%;
	margin-left: 80px;
}
.reference p{
	padding-top: 20px;
	margin: 10px;
	line-height: 25px;
}
.image h1{
	text-align: center;
	color: red;
}
.img img{
	padding-top: 40px;
	height: 220px;
	margin-left: 40px;
	width: 45%;
}


.conatainer3{
	width: 100%
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.footer{
	width: 100%;
	background-color: black;
	display: grid;
	text-align: center;
	justify-content: space-between;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 45%;
	color: white;
}
.icon img{
	display: inline-block;
	width: 30px;
	height: 30px;
}